tensorboardX
IPython
matplotlib
tqdm
scikit-image
opencv-python==4.6.0.66
wheel
pytorch_lightning
black
ruff
hydra-core
jaxtyping
beartype
wandb
einops
colorama
colorspacious
moviepy
imageio
git+https://github.com/dcharatan/diff-gaussian-rasterization-modified
timm
dacite
lpips
e3nn
plyfile
tabulate
svg.py
sk-video